
:root{
    --pink: #FF00C0;
    --light_blue: #00B8DB;
    --yellow: #F0E800;
    --red: #DC1001;
    --blue: #0555FC;
}

* {
    margin: 0;
    padding: 0;
}

header {
}

div section img {
    height: 160px;
    width: 160px;
}

div section h2 {
    font-size: 16px;
}