
:root{
    --pink: #FF00C0;
    --light_blue: #00B8DB;
    --yellow: #F0E800;
    --red: #DC1001;
    --blue: #0555FC;

    --sm: 5em;
    --md: 9em;
    --bg: 14em;

}

/*@font-face {
    font-family: Titulos;
    src: url(./IMG/highvoltage_rough/HighVoltage\ Rough.ttf);
}*/


* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: var(--yellow);

    
}

header h1 {
    color: var(--blue);
    font-size: var(--bg);
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: sans-serif;

}

header h2 {
    
    color: var(--red);
    font-size: 5em;;
    justify-self: center;
    margin-top: 0;
    padding-top: 0;
    font-family: sans-serif;
}


div section img {
    height: 160px;
    width: 160px;
}

div section h2 {
    font-size: 16px;
}