
:root{
    --pink: #FF00C0;
    --light_blue: #00B8DB;
    --yellow: #F0E800;
    --red: #DC1001;
    --blue: #0555FC;

    --sm: 5em;
    --md: 9em;
    --bg: 14em;

}

/*@font-face {
    font-family: Titulos;
    src: url(./IMG/highvoltage_rough/HighVoltage\ Rough.ttf);
}*/


* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center ;

    

    
}

header h1 {
    color: var(--blue);
    font-size: var(--bg);
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: sans-serif;

}

header h2 {
    
    color: var(--red);
    font-size: 5em;;
    justify-self: center;
    margin-top: 0;
    padding-top: 0;
    font-family: sans-serif;
}

body {
    background-image: url("./IMG/Background.png");
    
}
main div { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

main div section {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    justify-items: center;
    width: 180px;
    height: 300px;

}

main div section img {
    width: 160px;
    height: 160px;
    align-self: center;
    border-radius: 24px;
    object-fit: cover;
} 

main div section h2 {
    font-size: 20px;
    align-self: center;
}

main div section p {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: center;
    
}

section {
    background-color: ;
}