:root{
    --pink: #FF00C0;
    --light_blue: #00B8DB;
    --yellow: #F0E800;
    --red: #DC1001;
    --blue: #0555FC;

    --sm: 2em;
    --md: 3em;
    --bg: 4em;
}
  
html {
    display: block;
    font-size: 62.5%;
}

.tittle
{
    font-size: var(--md);
    margin: 0;
    color: var(--yellow);
}

.next 
{ 
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10px;
}

.button

{
    width: 160px;
    color: var(--pink);
    font-size: var(--sm);
    padding: 6px;
    background-color: transparent;
    border-color: var(--pink);
    border-radius: 8px;
    border-width: 1px;
}


.temp
{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px;
    font-size: var(--sm);
    color: var(--light_blue);
}

.modify 
{
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--bg);
    padding: 10px;
    height: 100px;
    color: var(--red);
}

.result
{
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px;
    font-size: var(--sm);
    color: #0555FC;
}

body 
{
    transform: rotate(90deg);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body div 
{
    display: grid;
    justify-content: center;
    align-content: center;
}

section
{
    display: flex;
    justify-content: center;
    align-content: center;
}



