:root{
    --pink: #FF00C0;
    --light_blue: #00B8DB;
    --yellow: #F0E800;
    --red: #DC1001;
    --blue: #0555FC;

    --sm: 1em;
    --md: 2em;
    --bg: 4em;
}
  
html {
    display: block;
    font-size: 62.5%;
}

.tittle
{
    font-size: var(--md);
    margin: 0;
}

.next 
{ 
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 10px;
}

.temp
{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px;
    font-size: var(--sm);
}

.modify 
{
    font-size: var(--bg);
    padding: 10px;
}

.result
{
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 20px;
    font-size: var(--sm);
}

body 
{
    transform: rotate(90deg);
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body div 
{
    display: grid;
    justify-content: center;
    align-content: center;
}

section
{
    display: flex;
    justify-content: center;
    align-content: center;
}



